<% if @user.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            <strong>There were <%= pluralize(@user.errors.count, "error") %>:</strong>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= content_tag :li, msg %></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>
